body {
    width: 855px;
    margin: auto;
}
header h1 {
    float: left;
}
header .had {
    float: right;
}

main{
    clear: both;
}
.comment-input{
    float: left;
    width: 255px;
}
.comments{
    float: right;
    width: 600px;
}

.comments p:nth-child(even){
    border-radius: 5px;
    background-color: aqua;
}
.comments p:nth-child(odd){
    border-radius: 5px;
    background-color: blueviolet;
}

footer {
    clear: both;
}
.tabs a span{
    background: #bbb;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    
}
.tabs a span.active {
    background: #eee;
}